{{ define "main" }}
<main>
  <p>
    Hi, I'm Benson (he/him). I'm a {{sub now.Year 2006}} y/o builder in
    Chicago.<br /><br />
    Right now, I'm writing satirical tech news articles at
    <a href="https://thevariant.net">The Variant</a>, learning about crypto &
    web3, and building a new way to discover and share your favorite iOS apps.
  </p>
  <h3>Get in touch</h3>
  <p>
    The best way to contact me is to
    <a
      href="https://twitter.com/messages/compose?recipient_id=1188270454303277056"
      >DM me on Twitter.</a
    >
    Alternatively, you can
    <a href="mailto:benson@kitia.dev">send me an email at benson@kitia.dev</a>.
  </p>
  <h3>Connect with me</h3>
  I'm @bensonkitia everywhere (<a href="https://twitter.com">Twitter</a>,
  <a href="https://github.com/bensonkitia">GitHub</a>,
  <a href="https://polywork.com/bensonkitia">Polywork</a>,
  <a href="https://instagram.com/bensonkitia">Instagram</a>).
</main>
{{ partial "sidebar.html" . }} {{ end }}
