:root {
  --background: white;
  --font: #444444;
  --secondary: #949494;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #444444;
    --font: white;
    --secondary: #aaa;
  }
}

body {
  background-color: var(--background);
  color: var(--font);

  font-family: -apple-system-body, -apple-system, system-ui, BlinkMacSystemFont,
    Helvetica, sans-serif;
}

.content {
  margin: auto;
  max-width: 480px;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  text-underline-offset: 0.15em;
  text-underline-position: below;

  &:hover {
    background-color: var(--secondary);
    text-decoration: none;
  }
}

article {
  img {
    max-width: 240px;
  }

  p {
    line-height: 1.5;
  }
}

blockquote {
  border-left: 0.125em solid violet;
  margin-left: 30px;
  padding: 10px;
  padding-left: 15px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

#dated-li {
  padding-bottom: 15px;
}

footer {
  color: var(--secondary);
  text-align: justify;

  a {
    text-decoration: underline;
  }
}

.info {
  color: var(--secondary);
  font-style: italic;

  a {
    text-decoration-color: var(--font);

    &:hover {
      background-color: var(--font);
    }
  }
}

#landing-main {
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  line-height: 1.5;
}

nav {
  li {
    line-height: 1.75;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

#recent-info {
  span {
    display: inline-block;
  }
}

#site-footer {
  padding-left: 40px;
  padding-top: 20px;
}

#title {
  font-family: Georgia, serif;
  white-space: nowrap;

  a {
    text-decoration: none;
    &:hover {
      background-color: inherit;
    }
  }

  h1 {
    color: violet;
    display: inline;
  }

  span {
    margin-right: 20px;
  }
}

html {
  #title {
    user-select: none;
  }
}

#writing-list {
  list-style-type: none;
  padding: 0;

  li {
    padding-bottom: 15px;
  }
}
