:root {
  --background: white;
  --font: #444444;
  --secondary: #949494;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #444444;
    --font: white;
    --secondary: #aaa;
  }
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: violet;
  text-decoration-thickness: 0.125em;

  &:hover {
    background-color: var(--secondary);
    text-decoration-thickness: 0.2em;
  }
}

blockquote {
  border-left: 2px solid violet;
  margin-left: 25px;
  padding: 10px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: -apple-system-body, -apple-system, system-ui, BlinkMacSystemFont,
    Helvetica;
}

.content {
  margin: auto;
  max-width: 480px;
  padding: 20px;
}

#dated-li {
  padding-bottom: 15px;
}

footer {
  color: var(--secondary);
  text-align: justify;

  a {
    text-decoration: underline;
  }
}

img[alt="a picture of Benson Kitia"] {
  width: 175px;
}

.info {
  color: var(--secondary);
  font-style: italic;

  a {
    text-decoration-color: inherit;

    &:hover {
      background-color: var(--font);
    }
  }
}

li {
  line-height: 1.5;
}

nav li {
  line-height: 2;
  text-decoration: underline;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

#site-footer {
  padding-top: 20px;
  padding-left: 40px;
}

#title {
  a {
    color: violet;
    text-decoration: none;

    &:hover {
      background-color: inherit;
    }
  }

  h1,
  p {
    display: inline;
  }
}
