:root {
  --background: white;
  --font: #444;
  --link: purple;
  --blockquote-color: var(--font);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #444444;
    --font: white;
    --link: violet;
  }
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 2px solid var(--blockquote-color);
  margin-left: 25px;
  padding: 10px;
}

blockquote a {
  color: inherit;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica;
  padding: 11px;
}

.content {
  max-width: 480px;
  margin: auto;
}

footer {
  padding-top: 10px;
  text-align: justify;
}

footer a {
  text-decoration: underline;
}

img[alt="a picture of Benson Kitia"] {
  width: 175px;
}

nav li {
  line-height: 1.5;
  text-decoration: underline;
}

.noBullets {
  list-style-type: none;
  padding: 0;
}

#title h1,
#title p {
  display: inline;
}
