<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	<!-- SEO -->
	{{ with .Site.Params.title }}<meta name="title" content="{{ . }}">{{ end }}
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.copyright }}<meta name ="copyright" content ={{ . }}/>{{ end }}
	<meta property ="og:type" content ="website"/>
	{{ with .Site.Params.baseURL }}<meta property ="og:url" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ with .Site.Params.title }}<meta property="og:title" content="{{ . }}">{{ end }}
	{{ with .Site.Params.seoImage }}<meta property="og:image" content="{{ . }}">{{ end }}
	<meta property ="twitter:card" content ="summary_large_image"/>
	{{ with .Site.Params.baseURL }}<meta property="twitter:url" content="{{ . }}">{{ end }}
	{{ with .Site.Params.title }}<meta property="twitter:title" content="{{ . }}">{{ end }}
	{{ with .Site.Params.description }}<meta property="twitter:description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.seoImage }}<meta property="Twitter:image" content="{{ . }}">{{ end }}
	<!-- end SEO stuff -->
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	<!-- analytics -->
	{{ with .Site.Params.microAnalyticsId }}<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="{{ . }}" async defer></script>{{ end }}
	<!-- end analytics -->
	<script>console.log("hello there :)")</script>
</head>
<body>
	<div class="content">
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
	</div>
</body>
</html>
