{{ define "main" }}
<main>
  {{ with .Title }}
  <h1>{{ . }}</h1>
  {{ end }} {{ if eq .Title "Writings" }}
  <nav>
    <ul class="info">
      <li>
        <a href="/categories">Filter by <b>Category</b></a>
      </li>
      <li>
        <a href="/tags">Filter by <b>Tag</b></a>
      </li>
    </ul>
  </nav>
  {{ end }} {{ if eq .Kind "term" }}
  <p class="info">
    You can subscribe to an
    <a href="{{ .RelPermalink }}/index.xml"
      >RSS feed of new Writings in {{ .RelPermalink }}</a
    >
  </p>
  {{ end }} {{ if not (eq .Title "Projects") }} {{ range .Data.Pages.GroupByDate
  "January 2006" }}
  <h2>{{ .Key }}</h2>
  <ul id="writing-list">
    {{ range .Pages }}
    <li>
      <span class="info"
        ><i
          ><small><time>{{ .Date.Format "01-02-2006" }}</time></small></i
        ></span
      >
      <br />
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }} {{ else if eq .Title "Projects" }} {{ range .Data.Pages }}
  <ul id="writing-list">
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a> <br />
      <span class="info"
        >{{ with .Description }}<i><small>{{ . }}</small></i></span
      >{{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
</main>
{{ end }}
