{{ define "main" }}
<main>
  {{ if eq .Section "writings" }}<article>{{ end }}
    <h1>{{ .Title }}</h1>
    <time class="info">
      {{ if .Date }} {{ .Date.Format "January 2, 2006" }} {{ end }}
    </time>
    {{ .Content }}
    {{ if eq .Section "writings" }}
  </article>{{ end }}
  {{ if eq .Section "writings" }} {{ partial "thanks" . }} {{ end }}
  <footer class="info" id="taxonomy">
    {{ with .Params.categories }}
    <p>
      Posted in: {{ range $key, $value := . }} {{- if $key }}, {{ end }}
      <a href='{{ "/categories/" | relLangURL }}{{ $value | urlize }}'>{{ . }}</a>
      {{- end }}
    </p>
    {{ end }} {{ with .Params.tags }}
    <p>
      Tags: {{ range $key, $value := . }} {{- if $key }}, {{ end }}
      <a href='{{ "/tags/" | relLangURL }}{{ $value | urlize }}'>{{ . }}</a>
      {{- end }}
    </p>
    {{ end }}
  </footer>
</main>
{{ end }}