{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<div>
			{{ if .Date }}
			{{ .Date.Format "01-02-2006" }}
			{{ end }}
			{{ with .Params.tags }}
    <div>
      <span>Tags:</span>
      {{ range $key, $value := . }}
        {{- if $key }}, {{ end }}
        <a href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>
      {{- end }}
    </div>
  {{ end }}
			<div>
				{{ .Content }}
				{{ if .Date }}
				{{ partial "thanks" . }}
				{{ end }}
			</div>
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ end }}
