<div>
  <h2>Recent Writings</h2>
  <ul id="writing-list">
    {{ range first 5 (where .Site.RegularPages "Type" "in"
    .Site.Params.mainSections) }}
    <li>
      <span class="info"
        ><i
          ><small><time>{{ .Date.Format "01-02-2006" }}</time></small></i
        ></span
      ><br />
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  <p id="recent-info">
    <span class="info">Above are the 5 most recent Writings.</span>
    <span><a href="/writings">View All Writings</a></span>
  </p>
</div>
