<aside>
  <div>
    <h2>Recent Writings</h2>
    <div>
      <ul id="writing-list">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in"
        .Site.Params.mainSections) }} {{ range $paginator.Pages }}
        <li>
          <span class="info"
            ><i><small>{{ .Date.Format "01-02-2006" }}</small></i></span
          ><br />
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }} {{ partial "pagination.html" . }}
      </ul>
    </div>
  </div>
</aside>
