{{ define "main" }}
<main>
  <p>Hi, I'm Benson Kitia, a 15 year old builder in Chicago.</p>
  <p>I use the pronouns he/him/his.</p>
  <p>
    Right now, outside of being a full-time student, I'm writing about various
    things here, writing satirical tech news articles at
    <a href="https://thevariant.net">The Variant</a>, learning lots of things,
    and building a new way to discover and share your favorite iOS apps.
  </p>
  <p>
    I'd love for you to connect with me on socials (<a
      href="https://twitter.com/bensonkitia"
      >Twitter</a
    >, <a href="https://github.com/bensonkitia">GitHub</a>,
    <a href="https://polywork.com/bensonkitia">Polywork</a>,
    <a
      href="https://open.spotify.com/user/kansg77nxd40s0m3a6kteqb3o?si=10e818d4d49e4e82"
      >Spotify</a
    >) or get in touch with me via
    <a
      href="https://twitter.com/messages/compose?recipient_id=1188270454303277056"
      >Twitter DM</a
    >
    or
    <a href="mailto:benson@kitia.dev">Email</a>.
  </p>
  {{ partial "recent.html" . }}
</main>
{{ end }}
