<script>
  function shareSheet(title, permaLink) {
    if (navigator.share) {
      navigator
        .share({ title: writingTitle, url: permaLink })
        .catch(console.error);
    }
  }
</script>
<div>
  <h2>Thanks for reading</h2>
  <a
    href="https://twitter.com/search?q=%22{{ .Title }}%22%20(from%3Abensonkitiacom)"
    >Discuss or let me know what you think on Twitter</a
  >.
  <br />
  If you think this writing would be useful to your friends or followers,
  <a onclick="shareSheet($.Title, $.Permalink)">share it with them</a>.
  <br />
  If you want to be aware of my writings when they're posted,
  <a href="/subscribe">subscribe via email, RSS, or Twitter</a>.
</div>
